pep8 kuralları

# pep8 kuralları
### pep8 kuralları
##### pep8 kuralları

In [1]:
3 + 5

8

In [2]:
3+5

8

In [ ]:
print("""Bugün python dersiinin ikinci günü. 
      Bir tırnak mevzusu aldı başını gisdiyor. 
      İnşallah çok sıkıntı olmadan bu mevzuyu çözerim.""") # pep8 der ki bir satırda 79 dan fazla karakter olmasın

# comment

In [ ]:
3 + 6 # 3 ile 6 nın toplamıdır.

In [ ]:
3 + 6 # 3 ile 6

# Variables

In [3]:
print("Techpro education")

Techpro education

In [4]:
course = "Techpro education"

In [5]:
print(course)

Techpro education

In [6]:
print("course")

course

In [7]:
name = "Sedat"

In [8]:
print(name)

Sedat

In [9]:
age = 32

In [10]:
print(name, age)

Sedat 32

In [12]:
name2 = "Sedat"

In [13]:
age2 = 32

In [14]:
print(name2, age2)

Sedat 32

In [15]:
name3 = "sedat"

In [16]:
job = "Data Analyst"

In [17]:
print("isim:", name3, "mesleği:", job)

isim: sedat mesleği: Data Analyst

In [18]:
print("isim:",name3,"mesleği:",job)

isim: sedat mesleği: Data Analyst

In [19]:
print(age_1)
age_1 = 33

NameError: name 'age_1' is not defined

In [20]:
age_1

NameError: name 'age_1' is not defined

In [21]:
job_1 = "data scientist"
print(job_2)
job_2 = "data analyst"

NameError: name 'job_2' is not defined

In [22]:
print(job_1)

data scientist

In [24]:
print(job_3)

python developer

In [25]:
del job_3

In [26]:
print(job_3)

NameError: name 'job_3' is not defined

In [27]:
name_1 = "Arzu"
name2 = "Ömer"

In [28]:
print(name_1, name2)

Arzu Ömer

In [29]:
name-3 = "Hakan" # matematiksel ifadeler değişken isimlendirmede kullanılmaz

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3062450454.py, line 1)

In [30]:
4_name = "Yasin" # değişken isismleri nümerik karakterle başlamaz

SyntaxError: invalid decimal literal (2608851060.py, line 1)

In [31]:
$name = "Yunus" # özel karakterlerle değişken ismi başlayamaz

SyntaxError: invalid syntax (914308211.py, line 1)

In [33]:
!name = "Munise"

'name' is not recognized as an internal or external command,
operable program or batch file.

In [34]:
Name_5 = "Hamdi"

In [36]:
print(name_5)

NameError: name 'name_5' is not defined

In [37]:
print(Name_5)

Hamdi

In [38]:
name_6 = "Cenk"
name_7 = "Rabia"
age_1 = 25
age_2 = 24

In [39]:
print(name_6, name_7, age_1, age_2)

Cenk Rabia 25 24

In [44]:
name_8, name_9 = "Ramiz", "Şerife"

In [46]:
print(name_8)
print(name_9)

Ramiz
Şerife

In [47]:
name_8, name_9, name_10 = "Ramiz", "Şerife"

ValueError: not enough values to unpack (expected 3, got 2)

In [48]:
name_11, name_12 = "kasım", "kasım"

In [49]:
name_11

'kasım'

In [50]:
name_12

'kasım'

In [51]:
name_13, name_14 = "hakan, Yusuf" # değer kısmında sadece 1 tane string ifade var.

ValueError: too many values to unpack (expected 2)

In [52]:
name_13, name_14 = "hakan, Yusuf",

ValueError: not enough values to unpack (expected 2, got 1)

In [53]:
name_15 = name_16 = "Arzu"

In [ ]:
jan =  mar = may = july = aug = oct = dec = 31
feb = 28
apr = jun = sep = nov = 30

In [ ]:
apr, jun, sep, nov = 30, 30, 30, 30

# Data Types

In [ ]:
"hello world" # string, str

In [ ]:
"35" # string

In [54]:
type("hello world")

str

In [55]:
type("35")

str

In [ ]:
"453fgjvbhkj/*-" #str

In [56]:
name

'Sedat'

In [57]:
type(name)

str

In [ ]:
35 # integer, int

In [58]:
type(35)

int

In [59]:
negative_number = -25

In [60]:
type(negative_number)

int

In [ ]:
3.14 # float

In [61]:
type(3.14)

float

In [62]:
pi_number = 3.14

In [63]:
type(pi_number)

float

In [64]:
pi_number_2 = 3,14

In [65]:
type(pi_number_2)

tuple

In [66]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [ ]:
1000000

# boolean

In [67]:
type(False) # matematiksel karşılığı (0) sıfırdır. Yokluğu/hiçliği ifade eder.

bool

In [68]:
type(True) # matematiksel karşılığı (1) birdir. Varlığı ifade eder.

bool

In [69]:
type(true) # True ve False un ilk harfleri büyük olmak zorunda.

NameError: name 'true' is not defined

In [84]:
araba_modeli = "Toyota"
arabanın_yaşı = 5
arabanın_kilometresi = 64477.4
arabanın_kazası = True

In [85]:
type(araba_modeli)

str

In [86]:
type(arabanın_yaşı)

int

In [87]:
type(arabanın_kilometresi)

float

In [88]:
type(arabanın_kazası)

bool

In [89]:
del name_11 # kalıcı olarak sildik

NameError: name 'name_11' is not defined

In [90]:
name_11

NameError: name 'name_11' is not defined

In [91]:
type(araba_modeli)
type(arabanın_yaşı)
type(arabanın_kilometresi)
type(arabanın_kazası)

bool

In [92]:
araba_modeli
arabanın_yaşı

5

In [93]:
print(araba_modeli)
print(arabanın_yaşı)

Toyota
5

In [94]:
print(type(araba_modeli))
print(type(arabanın_yaşı))

<class 'str'>
<class 'int'>