# TUPLES

In [ ]:
# immutable
# iterable

In [ ]:
tuple()
()

In [2]:
tuple("Hakan")

('H', 'a', 'k', 'a', 'n')

In [3]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [4]:
tuple(1250)

TypeError: 'int' object is not iterable

In [5]:
tuple_1 = ("Techpro", 2, 3.14, False, [1, 2, 3], (4, 5, 6))
tuple_1

('Techpro', 2, 3.14, False, [1, 2, 3], (4, 5, 6))

In [6]:
type(tuple_1)

tuple

In [7]:
name = "Munise"

In [8]:
tuple(name)

('M', 'u', 'n', 'i', 's', 'e')

In [9]:
pi_number = 3.14
type(pi_number)

float

In [10]:
pi_number_2 = 3,14
type(pi_number_2)

tuple

In [11]:
3,5,6

(3, 5, 6)

In [12]:
type(["Techpro"])

list

In [13]:
type(("Techpro"))

str

In [14]:
("hakkı")

'hakkı'

In [15]:
("hakkı",) # tek elemanlı tuple oluşturmak istiyorsak virgül koymak zorundayız

('hakkı',)

In [18]:
len(("hakkı",))

1

In [17]:
type((15))

int

In [19]:
tuple_2 = 2, 3, 4

In [20]:
tuple_2

(2, 3, 4)

In [21]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [22]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [25]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
("Techpro", 5, True) + ("Bilal") # soldaki tuple, sağdaki str

TypeError: can only concatenate tuple (not "str") to tuple

In [27]:
("Techpro", 5, True) + ("Bilal",) # ey virgül sen nelere kadirsin.

('Techpro', 5, True, 'Bilal')

## Indexing & Slicing

In [28]:
tuple_3 = ("Erdem", 28, True, ["Tülay", 27, True], ("Zeynep", 10, "Murat", 7))
tuple_3

('Erdem', 28, True, ['Tülay', 27, True], ('Zeynep', 10, 'Murat', 7))

In [29]:
len(tuple_3)

5

In [30]:
tuple_3[3]

['Tülay', 27, True]

In [31]:
tuple_3[5]

IndexError: tuple index out of range

In [32]:
tuple_3[4]

('Zeynep', 10, 'Murat', 7)

In [33]:
tuple_3[-1]

('Zeynep', 10, 'Murat', 7)

In [34]:
tuple_3[4][1]

10

In [35]:
karışık_tuple = (2, 3.14, "True", False, ("Murat", 25), ["Sedat", 32])
karışık_tuple

(2, 3.14, 'True', False, ('Murat', 25), ['Sedat', 32])

In [36]:
karışık_tuple[2]

'True'

In [37]:
bool(karışık_tuple[2])

True

In [38]:
int(bool(karışık_tuple[2]))

1

In [39]:
name_1, name_2 = karışık_tuple[4][0], karışık_tuple[5][0]

In [42]:
print(name_1)
print(name_2)

Murat
Sedat

In [44]:
type(name_1)

str

In [45]:
karışık_tuple

(2, 3.14, 'True', False, ('Murat', 25), ['Sedat', 32])

In [46]:
karışık_tuple[1:3]

(3.14, 'True')

In [47]:
karışık_tuple[1:2]

(3.14,)

In [48]:
karışık_tuple[10:15]

()

In [49]:
liste_1 = ["Cenk", 25, "data_scientist"]
liste_1

['Cenk', 25, 'data_scientist']

In [50]:
liste_1[1] = 23

In [51]:
liste_1

['Cenk', 23, 'data_scientist']

In [52]:
tuple_4 = ("Cenk", 25, "data_scientist")
tuple_4

('Cenk', 25, 'data_scientist')

In [54]:
tuple_4[1] = 23 # immutable

TypeError: 'tuple' object does not support item assignment

In [55]:
converted_tuple = list(tuple_4)
converted_tuple

['Cenk', 25, 'data_scientist']

In [56]:
converted_tuple[1] = 23

In [57]:
tuple_4_son = tuple(converted_tuple)

In [58]:
tuple_4_son

('Cenk', 23, 'data_scientist')

In [59]:
karışık_tuple

(2, 3.14, 'True', False, ('Murat', 25), ['Sedat', 32])

In [61]:
karışık_tuple[5]

['Sedat', 32]

In [62]:
karışık_tuple[5][1]

32

In [63]:
karışık_tuple[5][1] = 33

In [64]:
karışık_tuple

(2, 3.14, 'True', False, ('Murat', 25), ['Sedat', 33])

In [65]:
karışık_tuple[5]

['Sedat', 33]

In [66]:
karışık_tuple[5].append("data_analyst")

In [67]:
karışık_tuple

(2, 3.14, 'True', False, ('Murat', 25), ['Sedat', 33, 'data_analyst'])

## Tuple Methods

### count()

In [68]:
sayılar_1 = (1,2,3,4,5,6,1,3,4,2)
sayılar_1

(1, 2, 3, 4, 5, 6, 1, 3, 4, 2)

In [69]:
sayılar_1.count(5)

1

In [70]:
sayılar_1.count(2)

2

In [71]:
sayılar_2 = (1, 2, 3, (3, 4, 5), 5, 6, 7) # 7 elemanlı
sayılar_2

(1, 2, 3, (3, 4, 5), 5, 6, 7)

In [72]:
sayılar_2.count(3)

1

In [75]:
sayılar_2.count(4)

0

In [76]:
sayılar_2[3]

(3, 4, 5)

In [74]:
sayılar_2[3].count(4)

1

In [77]:
sayılar_2.count((3,4,5))

1

### index()

In [78]:
sayılar_2

(1, 2, 3, (3, 4, 5), 5, 6, 7)

In [79]:
sayılar_2.index(2)

1

In [80]:
sayılar_3 = (1,2,3,2,1,3,4,2)
sayılar_3

(1, 2, 3, 2, 1, 3, 4, 2)

In [81]:
sayılar_3.index(3)

2

In [82]:
liste_2 = [1,2,3,2,1,3,4,2]
liste_2

[1, 2, 3, 2, 1, 3, 4, 2]

In [83]:
liste_2.index(2)

1

# range()

In [84]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [85]:
range(4,10)

range(4, 10)

In [86]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [87]:
print(range(4,10))

range(4, 10)

In [88]:
type(range(4,10))

range

In [90]:
tuple(range(10+1))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [93]:
list(range(4))

[0, 1, 2, 3]

In [94]:
list(range(2,14,2))

[2, 4, 6, 8, 10, 12]

In [97]:
list(range(2,14,2))[::-1]

[12, 10, 8, 6, 4, 2]

In [95]:
list(range(2,14,-2))

[]

In [96]:
list(range(14,2,-2))

[14, 12, 10, 8, 6, 4]

In [98]:
list(range(-5,10,2))

[-5, -3, -1, 1, 3, 5, 7, 9]

In [100]:
list(range(4,)) #  stop noktası olmazsa olmaz.

[0, 1, 2, 3]

In [101]:
list(range(51,2))

[]

In [102]:
list(range(0,51,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [103]:
print(list(range(0,51,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [106]:
print(list(range(1, 50, 2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## Kullacıdan 100 lük sistemdeki notunu isteyin. ve harf notunu yazdırın.

In [ ]:
80 - 100 "A"
65 - 79 "B"
55 - 64 "C"
50 - 54 "D"
0 - 49 "F"

In [111]:
sınav_notu = input("Lütfen 100 lük sistemdeki notunuzu girin.")

if sınav_notu.isdigit():

    if 0 <= int(sınav_notu) <= 100:

        if int(sınav_notu) >= 80:
            sonuç = "A"

        elif int(sınav_notu) >= 65:
            sonuç = "B"

        elif int(sınav_notu) >= 55:
            sonuç = "C"

        elif int(sınav_notu) >= 50:
            sonuç = "D"

        else:
            sonuç = "F"

        print(f"Sınav notunuz: {sınav_notu}. Denk gelen harf notunuz: {sonuç}")

    else:
        print("Girilen değer 0 ile 100 arasında değil.")

else:
    print("Girilen değer numeric değerlerden oluşmuyor.")

Girilen değer numeric değerlerden oluşmuyor.