bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼nsÃ¼nÃ¼ bulan kodlarÄ± yazÄ±n.

In [1]:
kenar_1 = 5 , kenar_2 = 12

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1233627635.py, line 1)

In [3]:
kenar_1 , kenar_2 = 5, 12

hypo ** 2 = kenar_1 ** 2 + kenar_2 ** 2

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1521853094.py, line 3)

In [4]:
kenar_1 , kenar_2 = 5, 12

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print("bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 13.0

In [6]:
kenar_1 , kenar_2 = 5, 12

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 1 / 2

print("bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 84.5

In [7]:
kenar_1 , kenar_2 = 5, 12

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** (1 / 2)

print("bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 13.0

In [5]:
kenar_1 , kenar_2 = 5, 13

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print("bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 13.92838827718412

# print()

In [8]:
print("Techpro Education")

Techpro Education

In [9]:
course = "Techpro Education"

In [10]:
print(course)

Techpro Education

In [11]:
print("Sedat", "Yasin", "Furkan")

Sedat Yasin Furkan

In [12]:
print("Sedat",     "Yasin",     "Furkan")

Sedat Yasin Furkan

In [13]:
print("Sedat","Yasin","Furkan")

Sedat Yasin Furkan

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [15]:
print("Sedat","Yasin","Furkan", sep = "*")

Sedat*Yasin*Furkan

In [16]:
print("Sedat","Yasin","Furkan", sep = "   ")

Sedat   Yasin   Furkan

In [17]:
print("Sedat","Yasin","Furkan", sep = "-")

Sedat-Yasin-Furkan

In [18]:
print("Sedat","Yasin","Furkan", sep = "\U0001F600")

SedatðŸ˜€YasinðŸ˜€Furkan

In [20]:
print("Sedat","Yasin","Furkan" sep = "\U0001F600") # virgÃ¼l kullanarak ayrÄ±m yapmamÄ±z ÅŸart.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1486865283.py, line 1)

In [21]:
print("Sedat","Yasin","Furkan", sep = ",")

Sedat,Yasin,Furkan

In [22]:
print("Sedat","Yasin","Furkan", sep = -) # sep in deÄŸeri str olmak zorunda

SyntaxError: invalid syntax (783420978.py, line 1)

In [23]:
print("Cenk")
print("Yunus")
print("Emrullah")

Cenk
Yunus
Emrullah

In [24]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [26]:
print("Cenk")
print("Yunus")
print("Emrullah")

Cenk
Yunus
Emrullah

In [25]:
print("Cenk", end="**")
print("Yunus")
print("Emrullah")

Cenk**Yunus
Emrullah

In [27]:
print("Munise", end="!!")
print("YÃ¼sra")

Munise!!YÃ¼sra

In [28]:
print("Selim", end="!")
print("Ali", "Gazi", sep = "**")
print("Yakup", end= "?")

Selim!Ali**Gazi
Yakup?

## f-string

In [29]:
kenar_1 , kenar_2 = 5, 12

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print("bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 13.0

In [31]:
kenar_1 , kenar_2 = 8, 12

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print(f"bir kenarÄ± {kenar_1} diÄŸer kenarÄ± {kenar_2} olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼:", hypo)

bir kenarÄ± 8 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 14.422205101855956

In [33]:
kenar_1 , kenar_2 = 8, 15

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print(f"bir kenarÄ± {kenar_1} diÄŸer kenarÄ± {kenar_2} olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: {hypo}")

bir kenarÄ± 8 diÄŸer kenarÄ± 15 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 17.0

In [34]:
name = "Sedat"
age = 32
job = "data analyst"

In [35]:
print("Benim adÄ±m: ",name, "yaÅŸÄ±m: ", age, "mesleÄŸim: ", job)

Benim adÄ±m:  Sedat yaÅŸÄ±m:  32 mesleÄŸim:  data analyst

In [36]:
print(f"Benim adÄ±m: {name} yaÅŸÄ±m: {age} mesleÄŸim: {job}")

Benim adÄ±m: Sedat yaÅŸÄ±m: 32 mesleÄŸim: data analyst

In [37]:
a = 5
b = 10
print(f"a ile b nin toplamÄ±: {a + b}")

a ile b nin toplamÄ±: 15

## format()

In [38]:
kenar_1 , kenar_2 = 8, 15

hypo = (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5

print("bir kenarÄ± {} diÄŸer kenarÄ± {} olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: {}".format(kenar_1, kenar_2, hypo))

bir kenarÄ± 8 diÄŸer kenarÄ± 15 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼: 17.0

In [39]:
print("Benim adÄ±m: {} yaÅŸÄ±m: {} mesleÄŸim: {}".format(name, age,job))

Benim adÄ±m: Sedat yaÅŸÄ±m: 32 mesleÄŸim: data analyst

In [40]:
print("Benim adÄ±m: {0} yaÅŸÄ±m: {1} mesleÄŸim: {2}".format(name, age,job))

Benim adÄ±m: Sedat yaÅŸÄ±m: 32 mesleÄŸim: data analyst

In [41]:
print("Benim adÄ±m: {2} yaÅŸÄ±m: {0} mesleÄŸim: {1}".format(name, age,job))

Benim adÄ±m: data analyst yaÅŸÄ±m: Sedat mesleÄŸim: 32

In [42]:
a = 5
b = 10
print("a ile b nin toplamÄ±: {}".format(a + b))

a ile b nin toplamÄ±: 15

# input()

In [43]:
input("LÃ¼tfen yaÅŸÄ±nÄ±zÄ± girin")

'32'

In [44]:
age = input("LÃ¼tfen yaÅŸÄ±nÄ±zÄ± girin")

In [45]:
age

'32'

In [46]:
type(age)

str

In [51]:
print(age)

32

In [47]:
2024 - age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [48]:
2024 - int(age)

1992

In [49]:
age_1 = int(input("LÃ¼tfen yaÅŸÄ±nÄ±zÄ± girin"))

In [ ]:
print(age)

In [50]:
type(age_1)

int

In [52]:
age_2 = int(input("LÃ¼tfen yaÅŸÄ±nÄ±zÄ± girin"))

ValueError: invalid literal for int() with base 10: 'otuz iki'

In [53]:
age_3 = int(input("LÃ¼tfen yaÅŸÄ±nÄ±zÄ± girin. Ã¶rnek: 32"))

kullanÄ±cÄ±dan yaÅŸÄ±nÄ± isteyin ve doÄŸum yÄ±lÄ±nÄ± bulun. f str yÃ¶ntemini de kullanÄ±n Ã§Ä±ktÄ± alÄ±rken

In [54]:
age = int(input("Please enter your age. smp: 35"))

print(f"Your birth year is : {2024 - age}")

Your birth year is : 1991

kullanÄ±cÄ±dan boy ve kilo bilgisini isteyin ve vki(bmi) deÄŸeri deÄŸerini bulun.

In [55]:
kilo = input("LÃ¼tfen kilonuzu giriniz.") # inputla alÄ±nan deÄŸerler stringtir. dÃ¶nÃ¼ÅŸtÃ¼rÃ¼lÃ¼p kullanmak gerekir. 
boy = input("LÃ¼tfen boyunuzu giriniz. ")

vki = kilo / (boy ** 2)

print(vki)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [56]:
kilo = int(input("LÃ¼tfen kilonuzu giriniz. kg cinsinden. Ã¶rn: 85")) 
boy = int(input("LÃ¼tfen boyunuzu giriniz. cm cinsinden. Ã¶rn: 178")) / 100 # m cinsine Ã§evirmiÅŸ olduk. 

vki = kilo / (boy ** 2)

print(vki)

29.036737785633125

In [57]:
kilo = int(input("LÃ¼tfen kilonuzu giriniz. kg cinsinden. Ã¶rn: 85")) 
boy = int(input("LÃ¼tfen boyunuzu giriniz. cm cinsinden. Ã¶rn: 178")) / 100 # m cinsine Ã§evirmiÅŸ olduk. 

vki = kilo / (boy ** 2)

print(f"Kilonuz: {kilo} kg. Boyunuz: {boy} m. Vki deÄŸeriniz: {vki}")

Kilonuz: 92 kg. Boyunuz: 1.78 m. Vki deÄŸeriniz: 29.036737785633125

In [69]:
kilo = int(input("LÃ¼tfen kilonuzu giriniz. kg cinsinden. Ã¶rn: 85")) 
boy = int(input("LÃ¼tfen boyunuzu giriniz. cm cinsinden. Ã¶rn: 178")) / 100 # m cinsine Ã§evirmiÅŸ olduk. 

vki = kilo / (boy ** 2)

print(f"Kilonuz: {kilo} kg. Boyunuz: {boy} m. Vki deÄŸeriniz: {round(vki,2)}")

Kilonuz: 92 kg. Boyunuz: 1.78 m. Vki deÄŸeriniz: 29.04