# Type Conversion

### all types to str

In [1]:
age = 32
type(age)

int

In [2]:
str(age)

'32'

In [3]:
type(age)

int

In [4]:
age = str(age)

In [5]:
type(age)

str

In [6]:
pi_number = 3.14
type(pi_number)

float

In [7]:
str(pi_number)

'3.14'

In [8]:
str(True)

'True'

### str to int

In [9]:
age_1 = "33"
type(age_1)

str

In [10]:
int(age_1)

33

In [11]:
int("ahmet")

ValueError: invalid literal for int() with base 10: 'ahmet'

In [12]:
age_2 = "32"

In [13]:
2024 - age_2

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [14]:
2024 - int(age_2)

1992

In [15]:
int("32a")

ValueError: invalid literal for int() with base 10: '32a'

In [20]:
age_2

'32'

In [21]:
int(age_2)
2024 - age_2

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [22]:
age_2 = int(age_2)
2024 - age_2

1992

### str to float

In [18]:
float("3.14")

3.14

In [19]:
float("3,14") # çevirebilmesi için str ifadenin floata benzemesi şart

ValueError: could not convert string to float: '3,14'

### float to int, int to float

In [23]:
int(5.4)

5

In [24]:
int(5.9)

5

In [25]:
int(6.99999)

6

In [26]:
float(5)

5.0

In [27]:
int("3.14") #int e benzemeli

ValueError: invalid literal for int() with base 10: '3.14'

In [28]:
float("3.14")

3.14

In [29]:
int(float("3.14"))

3

### bool to int, bool to float

In [30]:
True

True

In [31]:
False

False

In [32]:
int(True)

1

In [33]:
int(False)

0

In [35]:
float(True)

1.0

In [36]:
float(False)

0.0

# Arithmetic Operators

In [37]:
3 + 5

8

In [38]:
9 - 6

3

In [39]:
8 * 6

48

In [40]:
40 / 10

4.0

In [41]:
40 / 11 # division

3.6363636363636362

In [42]:
40 // 10 # floor division

4

In [43]:
40 // 11

3

In [44]:
40 % 11 #modulus

7

In [45]:
48 // 5

9

In [46]:
48 % 5

3

102 tl param var. tanesi 12 tl olan kalemlerden kaç tane alabilirim?

In [47]:
102 // 12

8

bu alışverişten sonra ne kadar param kaldı?

In [48]:
102 % 12

6

In [49]:
5 ** 2

25

In [51]:
pow(5,2)

25

In [50]:
5 ** 3

125

In [52]:
pow(5,3)

125

In [53]:
25 ** (1 / 2)

5.0

In [54]:
25 ** (0.5)

5.0

In [55]:
125 ** (1 / 3)

5.0

işlem önceliği

1 - parantez içleri yapılır
2 - üslü ifadeler
3 - bölme/çarpma
4 - çıkarma/toplama

In [56]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [58]:
x = (2 ** 3) * (5 * 2 + (2 * 6 / 3))
print(x)

112.0

yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın. pi = 3.14 alınız

In [59]:
r = 7
pi = 3.14

alan = pi * r ** 2

print("Yarı çapı 7 olan dairenin alanı:", alan)

Yarı çapı 7 olan dairenin alanı: 153.86

In [60]:
r = 7
pi = 3.14

alan = pi * (r ** 2)

print("Yarı çapı 7 olan dairenin alanı:", alan)

Yarı çapı 7 olan dairenin alanı: 153.86

In [61]:
r = 7
pi = 3.14

alan = pi * (r ** 2)
r = 5

print("Yarı çapı 7 olan dairenin alanı:", alan)

Yarı çapı 7 olan dairenin alanı: 153.86

In [63]:
r = 7
pi = 3.14
r = 5
alan = pi * (r ** 2)


print("Yarı çapı 5 olan dairenin alanı:", alan)

Yarı çapı 5 olan dairenin alanı: 78.5

yarıçapı 9 olan dairenin alanını tam sayı olarak çıktı veren kodu yazın

In [64]:
r = 9
pi = 3.14

alan = pi * (r ** 2)

print("Yarı çapı 9 olan dairenin alanı:", int(alan))

Yarı çapı 9 olan dairenin alanı: 254

In [65]:
r = 9
pi = 3.14

alan = pi * (r ** 2)
alan = int(alan)

print("Yarı çapı 9 olan dairenin alanı:", alan)

Yarı çapı 9 olan dairenin alanı: 254

In [66]:
r = 9
pi = 3.14

alan = int(pi * (r ** 2))


print("Yarı çapı 9 olan dairenin alanı:", alan)

Yarı çapı 9 olan dairenin alanı: 254

In [67]:
r = 9
pi = 3.14

print("Yarı çapı 9 olan dairenin alanı:", int(pi * (r ** 2)))

Yarı çapı 9 olan dairenin alanı: 254

bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenünsünü bulan kodları yazın.