# Dictionaries

In [ ]:
# mutable
# iterable

In [ ]:
{}
dict()

In [6]:
dict_1 = {"key1": "value1", "key2": "value2"}
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [3]:
len(dict_1)

2

In [4]:
type(dict_1)

dict

In [7]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [8]:
dict_1.keys()

dict_keys(['key1', 'key2'])

In [9]:
dict_1.values()

dict_values(['value1', 'value2'])

In [19]:
dict_2 = {"name": "Hakan", "age": 32, "job": "Data_scientist"}
dict_2

{'name': 'Hakan', 'age': 32, 'job': 'Data_scientist'}

In [11]:
dict_2.items()

dict_items([('name', 'Hakan'), ('age', 32), ('job', 'Data_scientist')])

In [12]:
len(dict_2)

3

In [13]:
dict_2.keys()

dict_keys(['name', 'age', 'job'])

In [14]:
dict_2.values()

dict_values(['Hakan', 32, 'Data_scientist'])

In [20]:
dict_2

{'name': 'Hakan', 'age': 32, 'job': 'Data_scientist'}

In [21]:
dict_2[0]

KeyError: 0

In [22]:
dict_2["age"] # klerle indexlenir

32

In [23]:
dict_2["job"]

'Data_scientist'

In [24]:
dict_2["Hakan"]

KeyError: 'Hakan'

In [25]:
dict_3 = {"name": "Hakan", "age": 32, "job": "data scientist", "job": "Data analyst"}
dict_3

{'name': 'Hakan', 'age': 32, 'job': 'Data analyst'}

In [26]:
dict_4 = {"name": input("Lütfen isminizi giriniz")}
dict_4

{'name': 'Sedat'}

# key oluşturma

In [27]:
dict_5 = {0 : "zero", 1: "one", 2: "two"} # key ler int lardan oluşturulabilir.
dict_5

{0: 'zero', 1: 'one', 2: 'two'}

In [28]:
dict_5[0] # sıfır index değeri olan değil, key değeri olan sıfırdır.

'zero'

In [29]:
dict_5.keys()

dict_keys([0, 1, 2])

In [33]:
dict_6 = {False: "sıfır", True: "bir"} # bool değerler key olabilir.
dict_6

{False: 'sıfır', True: 'bir'}

In [34]:
dict_6[False]

'sıfır'

In [35]:
dict_6[0]

'sıfır'

In [36]:
dict_7 = {3.14: "pi_number", 2.7: "other_number"}
dict_7

{3.14: 'pi_number', 2.7: 'other_number'}

In [37]:
dict_7[3.14]

'pi_number'

In [38]:
dict_8 = {[1,2,3]: "sayılar_listesi"} # listeler dict de key olarak kullanılamaz
dict_8

TypeError: unhashable type: 'list'

In [39]:
dict_9 = {"sayılar_listesi": [1,2,3] } # listeler dict de value olarak kullanılabilir.
dict_9

{'sayılar_listesi': [1, 2, 3]}

In [40]:
dict_10 = {(1,2,3): "sayılar_demeti"} # tuple lar dict  te key olarak kullanılabilir
dict_10

{(1, 2, 3): 'sayılar_demeti'}

In [41]:
dict_11 = {"öğrenci_1": ["Bahar", 25, "python_developer"], "öğrenci_2": ("Arzu", 25, "data_scientist") }
dict_11

{'öğrenci_1': ['Bahar', 25, 'python_developer'],
 'öğrenci_2': ('Arzu', 25, 'data_scientist')}

In [42]:
dict_11.items()

dict_items([('öğrenci_1', ['Bahar', 25, 'python_developer']), ('öğrenci_2', ('Arzu', 25, 'data_scientist'))])

In [43]:
dict_11.keys()

dict_keys(['öğrenci_1', 'öğrenci_2'])

In [44]:
dict_11.values()

dict_values([['Bahar', 25, 'python_developer'], ('Arzu', 25, 'data_scientist')])

In [45]:
dict_11["öğrenci_1"]

['Bahar', 25, 'python_developer']

In [46]:
dict_11["öğrenci_1"].append("BMI")

In [47]:
dict_11

{'öğrenci_1': ['Bahar', 25, 'python_developer', 'BMI'],
 'öğrenci_2': ('Arzu', 25, 'data_scientist')}

In [48]:
dict_11["öğrenci_2"]

('Arzu', 25, 'data_scientist')

In [49]:
dict_11["öğrenci_1"][1]

25

In [50]:
dict_11["öğrenci_1"][1] = 26

In [51]:
dict_11

{'öğrenci_1': ['Bahar', 26, 'python_developer', 'BMI'],
 'öğrenci_2': ('Arzu', 25, 'data_scientist')}

In [52]:
dict_12 = {"araba": "Renault", 3.14: "pi_number", True: 1, 0: "zero"}
dict_12

{'araba': 'Renault', 3.14: 'pi_number', True: 1, 0: 'zero'}

In [53]:
dict(one = 1, two = 2, three = 3)

{'one': 1, 'two': 2, 'three': 3}

In [54]:
dict(0 = "zero", 1 = "one")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3951952635.py, line 1)

In [57]:
liste_1 = [("name1", "Cüneyt"), ("name2", "Ferdi"), ("name3", "Cenk")]

In [58]:
dict(liste_1)

{'name1': 'Cüneyt', 'name2': 'Ferdi', 'name3': 'Cenk'}

In [59]:
liste_2 = (["name1", "Cüneyt"], ["name2", "Ferdi"], ["name3", "Cenk"])
dict(liste_2)

{'name1': 'Cüneyt', 'name2': 'Ferdi', 'name3': 'Cenk'}

In [60]:
dict_friend = {"friend1": "Burak", "friend2": "Bilal", "friend3": "Murat"}
dict_friend

{'friend1': 'Burak', 'friend2': 'Bilal', 'friend3': 'Murat'}

In [61]:
len(dict_friend)

3

In [63]:
dict_friend["friend1"]

'Burak'

In [64]:
dict_friend["friend4"]

KeyError: 'friend4'

In [65]:
dict_friend["friend4"] = "Ali"

In [66]:
dict_friend

{'friend1': 'Burak', 'friend2': 'Bilal', 'friend3': 'Murat', 'friend4': 'Ali'}

In [67]:
dict_friend["friend2"] = "Samet"

In [68]:
dict_friend

{'friend1': 'Burak', 'friend2': 'Samet', 'friend3': 'Murat', 'friend4': 'Ali'}

In [69]:
dict_friend["friend3"] = ["Veli", "Yusuf"]

In [70]:
dict_friend

{'friend1': 'Burak',
 'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali'}

In [71]:
sayılar = {"tek_sayılar": [], "çift_sayılar": []}
sayılar

{'tek_sayılar': [], 'çift_sayılar': []}

In [76]:
sayılar["tek_sayılar"] = list(range(1,10,2))
sayılar["çift_sayılar"] = list(range(0,10,2))

In [77]:
print(sayılar)

{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': [0, 2, 4, 6, 8]}

## basic operatings with Dictionaries

### update()

In [78]:
dict_friend

{'friend1': 'Burak',
 'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali'}

In [79]:
dict_friend.update({"friend5": "Hüseyin"})

In [80]:
dict_friend

{'friend1': 'Burak',
 'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali',
 'friend5': 'Hüseyin'}

In [81]:
yeni_arkadaş = {"friend6": "Sinan"}

In [82]:
dict_friend.update(yeni_arkadaş)

In [83]:
dict_friend

{'friend1': 'Burak',
 'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali',
 'friend5': 'Hüseyin',
 'friend6': 'Sinan'}

In [84]:
{"name": "sedat"} + {"last_name": "Aslan"} # dict lerde + ile birleştirme yapılamaz.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [85]:
{"name": "sedat"} * 3 # dict lerde çarpma işlemi yok

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### pop()

In [88]:
dict_friend

{'friend1': 'Burak',
 'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali',
 'friend5': 'Hüseyin',
 'friend6': 'Sinan'}

In [89]:
dict_friend.pop() # key yazmak zorundayız

TypeError: pop expected at least 1 argument, got 0

In [90]:
dict_friend.pop("friend1")

'Burak'

In [91]:
dict_friend

{'friend2': 'Samet',
 'friend3': ['Veli', 'Yusuf'],
 'friend4': 'Ali',
 'friend5': 'Hüseyin',
 'friend6': 'Sinan'}

### clear()

In [92]:
dict_10

{(1, 2, 3): 'sayılar_demeti'}

In [93]:
dict_10.clear()

In [94]:
dict_10

{}

In [95]:
boş_dict = {}

In [96]:
boş_dict

{}

In [97]:
boş_dict_2 = dict()

In [98]:
boş_dict_2

{}

## Nested Dictionaries

In [99]:
my_family = { "wife" : {"name": "Emily", "birth_year": 1992},
              "child_1" : {"name": "Tobias", "birth_year": 2015},
              "child_2" : {"name": "Linus", "birth_year": 2016}}

In [100]:
my_family.keys()

dict_keys(['wife', 'child_1', 'child_2'])

In [101]:
my_family["wife"]

{'name': 'Emily', 'birth_year': 1992}

In [102]:
my_family["wife"].keys()

dict_keys(['name', 'birth_year'])

In [103]:
my_family["child_1"]

{'name': 'Tobias', 'birth_year': 2015}

In [104]:
my_family["child_1"]["birth_year"]

2015

In [105]:
my_family = { "wife" : {"name": "Emily", "birth_year": 1992},
              "child_1" : {"name": ("Tobias", "Harrison"), "birth_year": 2015},
              "child_2" : {"name": "Linus", "birth_year": 2016}}

In [106]:
my_family["child_1"]

{'name': ('Tobias', 'Harrison'), 'birth_year': 2015}

In [107]:
my_family["child_1"]["name"]

('Tobias', 'Harrison')

In [108]:
my_family["child_1"]["name"][0]

'Tobias'

In [109]:
my_family["child_1"]["name"][1]

'Harrison'